@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');


.rotate{
  animation: rotation infinite 3s linear;
  margin-top:100px;
  box-shadow: 0 0 60px 10px black;
  border-radius: 50px;
}

@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

.twitter{
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
}

.message{
  margin-top: 50px;
  /*font-family: 'Phudu-ExtraBold';*/
  font-weight: 200;
  color:white;
}

.about{
  padding-bottom:30px;
  font-weight:800;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: #726AFC;*/
  text-align: center;
}
