@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.rotate{
  /*animation: rotation infinite 3s linear;*/
  margin-top:80px;
  /*box-shadow: 0 0 60px 10px black;
  border-radius: 50px;*/
}

.second_div{
  height:550px;
  background:#000000;
  color:white;
}

.price{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  color: black;
  border: 3px solid black; 
  font-size: 16px;
  border-radius: 5px;
  /*cursor:pointer;*/
}

/* styles.css */
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark background color */
  overflow: hidden;
  position: fixed; /* Fix position to the top of the page */
  top: 0; /* Position at the top */
  width: 100%; /* Full width */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center flex items horizontally */
  align-items: center; /* Center flex items vertically */
  z-index: 1000; /* Ensure nav stays on top of other content */
  height: 50px; /* Reduce the height of the nav bar */
}

.about{
  color:black;
}

.about_div{
  margin-top:100px;
  border-radius: 25px;
}

/* CharactersPage.css */
.characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top:60px;
}

.character {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

.character-image {
  width: 100%;
  height: auto;
}

h2, p {
  margin: 10px;
}


.about_p{
  padding:20px;
  background: hsla(0,0%,100%,.5)!important;
  max-width:75%;
  text-align: left;
  margin-right:auto;
  margin-left:auto;
}

/* Navigation.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 20px;
}

.logo-container {
  /* Style your logo container if needed */
}

.logo {
  height: 50px; /* Adjust based on your logo size */
  padding:8px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px; /* Adjust the space between navigation items */
  margin: 0;
  padding: 0;
}

.nav-links li span, .nav-links li a { /* Updated for both span and a */
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Navigation.css - Add or adjust these styles in your existing CSS file */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: flex-start; /* Align items to the start of the navbar */
    width: 100%; /* Ensure the navbar takes full width */
    justify-content: space-between; /* Reaffirms items are aligned to each end */
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    margin-top: 5px;
  }

  .nav-links {
    display: none; /* Initially hide the nav-links */
    width: 100%; /* Take full width to ensure it drops below */
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center-align items if preferred */
    padding-left: 0; /* Remove padding to align with the edge */
  }

  .nav-links.open {
    display: flex; /* Display links when open */
    flex-direction: column;
    padding:10px;
  }
}


.solPrice{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background: white;
  color: black;
  border: 3px solid black; 
  font-size: 16px;
  border-radius: 5px;
  /*cursor:pointer;*/
}

.button3{
  border-radius: 50%;
}

.second_content{
  padding-top:80px;
  font-size: 45px;
}

.third_div{
  height:350px;
  color:black;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-popup img {
  max-width: 80%;
  max-height: 80%;
}


@keyframes rotation{
  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

.twitter{
  margin-left: 3px;
  margin-right: 3px;
  border:3px solid white;
  border-radius:15px;
  height:40px;
  width:40px;
}

/* SLIDER */
.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.images-container {
  display: flex;
  max-width: 750px;
  overflow: scroll;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

/* AudioToggle.css */
.audio-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  border: 3px solid black;
  color: black;
  border-radius: 5px;
  z-index: 100;
}


.image {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn {
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: white;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}

/* END SLIDER */

.socials{
  margin-top:75px;
}

.the_socials{
  font-weight: 200;
  display:inline;
  color:white;
  width: 36px;
  margin-left: auto;
  margin-right: auto;
}

.footer_div{
  height: 25px;
  background-color: white;
}

.about{
  padding-bottom:30px;
  font-weight:800;
}

.button{
  padding: 15px 25px;
  border-radius: 5px;
  outline: 0;
  border: 3px solid black; 
  font-size: 24px;
  background-color:white;
  color:black;
  font-weight:500;
  font-family: 'Bangers', system-ui !important;
}
.button2{
  padding: 15px 25px;
  border-radius: 5px;
  outline: 0;
  border: 3px solid black; 
  font-size: 24px;
  background-color:white;
  color:black;
  font-weight:500;
  font-family: 'Bangers', system-ui !important;
  margin-top:20px;
}

.buttonDIV{
  margin-top:30px;
  margin-bottom:80px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("background.png") no-repeat center center fixed;
  font-family: 'Bangers', system-ui !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: #726AFC;*/
  text-align: center;
}

.download_meme{
  margin-left:20px;
}

img{
  display:inline;
}

@font-face {
  font-family: 'botman';
  src: url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); /* Older browsers */
  font-weight: normal;
  font-style: normal;
}

/* SocialsSlider.css */
.socials-slider {
  white-space: nowrap;
  overflow: hidden;
  margin-top:75px;
}

.social-icon {
  display: inline-block;
  padding: 0 10px;
  /* Add more styling as needed */
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.socials-slider {
  animation: slide 10s linear infinite; /* Adjust duration (10s) as needed */
}